<!DOCTYPE html>
<html>
  <head>
    <title>StockTradingApp-User</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex">
        <nav class="flex">
            <div class="sticky top-0 w-64 h-screen p-4 bg-gray-600">
                <div class="flex">
                    <h1 class="hidden py-2 font-bold text-md text-gray-50 md:block">User</h1>
                </div>
                <ul class="flex flex-col text-gray-50">
                    <li>
                        <%= link_to user_path , class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                            <%= icon('fa-solid', 'briefcase', class: "mr-2") %> <span class="hidden md:inline-block">Portfolio</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to stocks_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                            <%= icon('fa-solid', 'money-bill-trend-up', class: "mr-2") %> <span class="hidden md:inline-block">Stocks</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                            <%= icon('fa-solid', 'money-bill', class:'mr-2') %> <span class="hidden md:inline-block">Buy/Sell</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                            <%= icon('fa-solid', 'credit-card', class:'mr-2') %> <span class="hidden md:inline-block">Transactions</span>
                        <% end %>
                    </li>
                </ul>
                <div>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
                </div>
            </div>           
        </nav>
        <div class="p-8">
            <%= yield %>
        </div>
    </main>
  </body>
</html>
